<h3>О нас</h3>
<p>Контакты="ok!,#{@@username},#{@@phone},#{@datetime},#{@barber},#{@color}" </p>


<form action="/contacts" method="POST" role="form">

<div class="form-group">
  <label>Введите вашу почту</label>
  <input name="customer_mail" type="text" class="form-control" placeholder="Ваше почта" value="<%= @customer_mail %>">
</div>


  <div class="form-group">
    <label>Введите пароль</label>
    <input name="barbershop_mail_pass" type="text" class="form-control" placeholder="pass" value="<%= @barbershop_mail_pass %>">
  </div>


<button type="submit" class="btn btn-primary">Отправить напоминание</button>

</form>